body #quad {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #ff5555, #5555ff);
}
body #quad::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: linear-gradient(to bottom, #ffff55, #55ff55);
  -webkit-mask-image: linear-gradient(to left, white, transparent);
}

.topleft {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 48px;
}

.topright {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 48px;
    color: black;
}

.bottomleft {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 48px;
    color: black;
}

.bottomright {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 48px;
    color: black;
}
