:root {
  --radial-size: 35%;
  --vert-displacement: 0px;
  --side-displacement: 0px;
}

body {
  background:
      radial-gradient(ellipse at bottom left, rgba(0,0,255,1), rgba(0,0,255,0) var(--radial-size)),
      radial-gradient(ellipse at top left, rgba(255,0,0,1), rgba(255,0,0,0) var(--radial-size)),
      radial-gradient(ellipse at top right, rgba(255,255,0,1), rgba(255,255,0,0) var(--radial-size)),
      radial-gradient(ellipse at bottom right, rgba(0,255,0,1), rgba(0,255,0,0) var(--radial-size));
}

.topleft {
    position: fixed;
    top: var(--vert-displacement);
    left: var(--side-displacement);
    font-size: 64px;
}

.topright {
    position: fixed;
    top: var(--vert-displacement);
    right: var(--side-displacement);
    font-size: 64px;
}

.bottomleft {
    position: fixed;
    bottom: var(--vert-displacement);
    left: var(--side-displacement);
    font-size: 64px;
}

.bottomright {
    position: fixed;
    bottom: var(--vert-displacement);
    right: var(--side-displacement);
    font-size: 64px;
}
